@use 'utility' as u;

#contribute {
  @include u.osButtons;
  ol {
    list-style-type: none;
    list-style-position: outside;
    position: relative;
    li::before {
      display: block;
      position: absolute;
      left: 0px;
    }
    li:nth-child(1)::before {
      content: url("one.svg");
    }
    li:nth-child(2)::before {
      content: url("two.svg");
    }
    li:nth-child(3)::before {
      content: url("three.svg");
    }
    li:nth-child(4)::before {
      content: url("four.svg");
    }
  }
}