#files {
  text-align: center;
  a {
    display: block;
    background-color: var(--green-100);
    color: var(--brown-400);
    margin: .6em .25em;
    padding: 0.25em 0.5em;
    border-radius: 5px; 
  }
  h3 {
    font-size: 1.5em;
  }
}