.page-footer {
  position: relative;
  padding: 2.2em 1em;
  margin-top: 2em;
  border-top: 5px dashed var(--green-300);

  &::before {
    @include logomark;

    position: absolute;
    left: 50%;
    width: 1.5em;
    transform: translate(-50%, -100%);
    background-color: var(--brown-100);
    border-radius: 20px;
    font-size: 3rem;
    content: "S";
  }

  p:first-child {
    margin-top: 1em;
    text-align: center;
  }
  p a {
    color: inherit;
  }
  svg path {
    fill: var(--green-300);
  }

  ul {
    grid-template-columns: repeat(auto-fit, minmax(12ch, auto));

    li {
      text-align: center;
      display: grid;
      align-items: center;
      background-color: var(--green-100);
      color: var(--green-300);
      border: 3px solid var(--green-300);
      border-radius: 10px;
      font-size: 1.25em;
      padding: .2em .6em;
      text-decoration: none;
    }
  }

  p:nth-child(3), p:nth-child(4) {
    &::before {
      content: "";
      display: block;
      position: absolute;
      height: 40vh;
      width: 100%;
      top: 50%;
      left: 0;
      z-index: -1;
      background-color: var(--green-300);
    }
    // background-color: var(--green-300);
    border: 3px dashed var(--brown-100);
    padding: 1em;
    margin-top: -2em;
  }
  p:nth-child(3) {
    margin-top: 6em;
    border-bottom: none;
    border-radius: 15px 15px 0 0;
  }
  p:nth-child(4) {
    border-top: none;
    border-radius: 0 0 15px 15px;
  }
}
