header {
  text-align: center;
  background-color: var(--green-300);
  color: var(--brown-100);
  padding: 1em;

  .container {
    padding: 2em;
    border: 3px dashed var(--brown-100);
    border-radius: 20px;
  }
  h1 {
    padding-top: .2em;
    font-family: "Sniglet";
    font-weight: 800;
    font-size: 5em;
    color: var(--brown-100);
  }
  a {
    color: var(--brown-400);
  }
  .link-github {
    background-color: var(--brown-100);
    color: var(--brown-400);
    font-weight: 400;
    font-size: 1.2em;
    padding: .6em 1em;
    border-radius: 15px;
  }
}
