nav {
  margin-top: 1.2em;
  margin-bottom: -2em;
  ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0;
    padding: 0;
    list-style: none;

    a {
      display: inline-grid;
      padding: .4rem .6em;
      background-color: white;
      color: var(--brown-400);
      border: 3px solid var(--brown-400);
      border-radius: 10px;
      font-size: 1.25rem;
      text-decoration: none;
      // transition: all .4s;
      
      // &:hover {
        // transform: scale(2);
      // }
    }

    li {
      margin: 0.25rem;
    }
  }
}
