@use 'utility' as u;

.profile {
  @include u.warningBar;

  h4 {
    font-size: 1.5em;
    margin-top: 2em;
  }

  .container {
    text-align: center;

    > a {
      display: inline-block;
      background-color: var(--green-100);
      color: var(--brown-400);
      padding: 0.25em 0.5em;
      border-radius: 5px; 
      margin-top: 1em;
    }
  }

  ul {
    text-align: center;
    margin: 0;
    padding: 0;
    list-style: none;

    li {
      padding: 0.4em;

      // space between colon and name
      span:nth-child(1) {
        margin-right: 0.25em;
      }
      span:nth-child(2) a {
        color: inherit;  
      }
    }
  }

  // waiting to check all this
  // @media (min-width: 180ch) {
  //   position: fixed;
  //   right: 2vmin;
  //   bottom: 2vmin;
  //   max-width: 30ch;
  //   margin-bottom: 0;
  //   border-radius: var(--border-radius);
  //   background-color: var(--color-light);

  //   ul {
  //     justify-content: unset;

  //     li {
  //       padding: 0;

  //       span:nth-child(1) {
  //         width: 8ch;
  //         margin-right: 0;
  //       }
  //     }
  //   }
  // }
}
