:root {
  --green-100: #E7EFDD;
  --green-200: #b1ce83;
  --green-300: #84b04e;
  --green-400: #5d852c;
  --green-500: #48602b;
  --brown-100: #f1ede8;
  --brown-200: #D9C095;
  --brown-300: #9C7C45;
  --brown-400: #5B3A01;
  --tablet: 640px;
  --desktop: 768px;
  --xl-desktop: 1024px;
}

$font-weight-strong: 500 !default;
$font-size-h1: 6rem !default;
$font-size-h2: 3rem !default;
$font-size-h3: 2rem !default;
$font-size-h4: 1.35rem !default;
$font-size-text: 1.15rem !default;

$font-sizes: (
  h1: $font-size-h1,
  h2: $font-size-h2,
  h3: $font-size-h3,
  h4: $font-size-h4,
  text: $font-size-text,
);

body {
  background-color: var(--brown-100);
  background-image: url("/graph.png");
  background-size: 500px;
  background-repeat: round;
}

* {
  font-family: "Sniglet";
  color: var(--brown-400);
}