// @include break {}
@mixin break($break-size) {
  @media (min-width: $break-size) { @content; }
}

@mixin osButtons {
  background-color: white;
  margin: 1em;
  padding: 2em;
  border: 3px solid var(--brown-400);
  border-radius: 15px;
  @include break(640px) {
    margin: 1em 5em;
  }
  @include break(1024px) {
    margin: 1em 8em;
  }
  &::before {
    content: url("osButtons.svg");
    display: block;
    background-color: var(--brown-400);
    height: 40px;
    padding: .3em .6em;
    margin: -2em;
    border-radius: 10px 10px 0 0;
  }
  .container:first-child h2:first-child {
    margin-bottom: 1.2em;
    color: white;
    @include break(640px) {
      margin-bottom: 3em;
    }
  }
}

@mixin warningBar {
  background-color: white;
  margin: 1em;
  padding: 2em;
  border: 3px solid var(--green-400);
  border-radius: 15px;
  @include break(640px) {
    margin: 1em 5em;
  }
  @include break(1024px) {
    margin: 1em 8em;
  }
  &::before {
    content: url("warning.svg");
    display: block;
    background-color: var(--green-400);
    height: 40px;
    padding: .3em .6em;
    margin: -2em;
    border-radius: 10px 10px 0 0;
  }
}
