@import url("https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sniglet:wght@400;800&display=swap");
:root {
  --green-100: #E7EFDD;
  --green-200: #b1ce83;
  --green-300: #84b04e;
  --green-400: #5d852c;
  --green-500: #48602b;
  --brown-100: #f1ede8;
  --brown-200: #D9C095;
  --brown-300: #9C7C45;
  --brown-400: #5B3A01;
  --tablet: 640px;
  --desktop: 768px;
  --xl-desktop: 1024px;
}

body {
  background-color: var(--brown-100);
  background-image: url("/graph.png");
  background-size: 500px;
  background-repeat: round;
}

* {
  font-family: "Sniglet";
  color: var(--brown-400);
}

/*
 * [Modified] Modern CSS Reset
 * @link https://github.com/hankchizljaw/modern-css-reset
*/
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

html {
  overflow-x: hidden;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  font-size: 100%;
  line-height: 1.5;
  text-rendering: optimizeSpeed;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  font-weight: 800;
}

/* Make images easier to work with */
img {
  display: block;
  max-width: 100%;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
h1,
h2,
h3,
h4 {
  font-weight: var(--font-weight-strong);
  line-height: 1;
  margin-bottom: 0.65em;
}

h1 {
  font-size: var(--font-size-h1);
  font-size: clamp(2rem, 7vw, var(--font-size-h1));
}

h2 {
  font-size: var(--font-size-h2);
  font-size: clamp(2rem, 4vw, var(--font-size-h2));
  text-align: center;
}

#main h2 {
  align-self: center;
  color: var(--brown-400);
  padding: 0.25em 0.5em;
}

h3 {
  font-size: var(--font-size-h3);
}

h4 {
  font-size: var(--font-size-h4);
}

p,
li {
  font-size: var(--font-size-text);
}

p {
  margin: 0 0 1rem;
}

article .container > ul:not(.features) > li + li,
article .container > ol > li + li {
  margin-top: 1rem;
}
article .container * + h2 {
  margin-top: 4rem;
}
article .container * + h3 {
  margin-top: 2rem;
}

strong {
  font-weight: var(--font-weight-strong);
}

a {
  color: var(--green-300);
}

#guidelines p:nth-of-type(1),
#contribute p:nth-of-type(1) {
  font-size: var(--font-size-h4);
  font-weight: var(--font-weight-strong);
}

body {
  background-color: var(--color-background);
  color: var(--color-text);
  font-family: var(--font-family);
}

main {
  padding-top: 5vh;
  padding-bottom: 5vh;
}
main:focus {
  outline: none;
}
main h3 {
  color: var(--color-primary);
}

article .container,
.page-footer .container,
#styles .container {
  width: 100%;
  max-width: 80ch;
  margin-right: auto;
  margin-left: auto;
}

article,
#styles {
  padding: 1rem;
}

.page-footer ul,
.features {
  display: grid;
  margin: 0 0 2rem;
  padding: 0;
  grid-gap: 1em;
  list-style: none;
}

header {
  text-align: center;
  background-color: var(--green-300);
  color: var(--brown-100);
  padding: 1em;
}
header .container {
  padding: 2em;
  border: 3px dashed var(--brown-100);
  border-radius: 20px;
}
header h1 {
  padding-top: 0.2em;
  font-family: "Sniglet";
  font-weight: 800;
  font-size: 5em;
  color: var(--brown-100);
}
header a {
  color: var(--brown-400);
}
header .link-github {
  background-color: var(--brown-100);
  color: var(--brown-400);
  font-weight: 400;
  font-size: 1.2em;
  padding: 0.6em 1em;
  border-radius: 15px;
}

nav {
  margin-top: 1.2em;
  margin-bottom: -2em;
}
nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0;
  padding: 0;
  list-style: none;
}
nav ul a {
  display: inline-grid;
  padding: 0.4rem 0.6em;
  background-color: white;
  color: var(--brown-400);
  border: 3px solid var(--brown-400);
  border-radius: 10px;
  font-size: 1.25rem;
  text-decoration: none;
}
nav ul li {
  margin: 0.25rem;
}

#about {
  background-color: white;
  margin: 1em;
  padding: 2em;
  border: 3px solid var(--brown-400);
  border-radius: 15px;
}
@media (min-width: 640px) {
  #about {
    margin: 1em 5em;
  }
}
@media (min-width: 1024px) {
  #about {
    margin: 1em 8em;
  }
}
#about::before {
  content: url("osButtons.svg");
  display: block;
  background-color: var(--brown-400);
  height: 40px;
  padding: 0.3em 0.6em;
  margin: -2em;
  border-radius: 10px 10px 0 0;
}
#about .container:first-child h2:first-child {
  margin-bottom: 1.2em;
  color: white;
}
@media (min-width: 640px) {
  #about .container:first-child h2:first-child {
    margin-bottom: 3em;
  }
}
#about section:nth-child(2) ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0;
  list-style: none;
}
#about section:nth-child(2) ul li {
  margin: 0.25em;
  padding: 0.25em 0.5em;
  background-color: var(--green-100);
  border-radius: 5px;
}
#about section:nth-child(2) p:nth-of-type(2) {
  margin-top: 2rem;
  font-size: 1.5em;
  text-align: center;
}

#guidelines {
  background-color: white;
  margin: 1em;
  padding: 2em;
  border: 3px solid var(--brown-400);
  border-radius: 15px;
}
@media (min-width: 640px) {
  #guidelines {
    margin: 1em 5em;
  }
}
@media (min-width: 1024px) {
  #guidelines {
    margin: 1em 8em;
  }
}
#guidelines::before {
  content: url("osButtons.svg");
  display: block;
  background-color: var(--brown-400);
  height: 40px;
  padding: 0.3em 0.6em;
  margin: -2em;
  border-radius: 10px 10px 0 0;
}
#guidelines .container:first-child h2:first-child {
  margin-bottom: 1.2em;
  color: white;
}
@media (min-width: 640px) {
  #guidelines .container:first-child h2:first-child {
    margin-bottom: 3em;
  }
}
#guidelines h3 {
  font-weight: 800;
  font-size: 1.5em;
  color: var(--brown-200);
}
#guidelines .link-guidelines {
  display: block;
  text-align: center;
  background-color: var(--green-100);
  color: var(--brown-400);
  padding: 0.25em 0.5em;
  border-radius: 5px;
}

#contribute {
  background-color: white;
  margin: 1em;
  padding: 2em;
  border: 3px solid var(--brown-400);
  border-radius: 15px;
}
@media (min-width: 640px) {
  #contribute {
    margin: 1em 5em;
  }
}
@media (min-width: 1024px) {
  #contribute {
    margin: 1em 8em;
  }
}
#contribute::before {
  content: url("osButtons.svg");
  display: block;
  background-color: var(--brown-400);
  height: 40px;
  padding: 0.3em 0.6em;
  margin: -2em;
  border-radius: 10px 10px 0 0;
}
#contribute .container:first-child h2:first-child {
  margin-bottom: 1.2em;
  color: white;
}
@media (min-width: 640px) {
  #contribute .container:first-child h2:first-child {
    margin-bottom: 3em;
  }
}
#contribute ol {
  list-style-type: none;
  list-style-position: outside;
  position: relative;
}
#contribute ol li::before {
  display: block;
  position: absolute;
  left: 0px;
}
#contribute ol li:nth-child(1)::before {
  content: url("one.svg");
}
#contribute ol li:nth-child(2)::before {
  content: url("two.svg");
}
#contribute ol li:nth-child(3)::before {
  content: url("three.svg");
}
#contribute ol li:nth-child(4)::before {
  content: url("four.svg");
}

#files {
  text-align: center;
}
#files a {
  display: block;
  background-color: var(--green-100);
  color: var(--brown-400);
  margin: 0.6em 0.25em;
  padding: 0.25em 0.5em;
  border-radius: 5px;
}
#files h3 {
  font-size: 1.5em;
}

#styles h2 {
  font-weight: 800;
  font-size: 3em;
  margin-top: 0.6em;
  margin-bottom: 0.2em;
}
@media (min-width: 640px) {
  #styles .features {
    display: flex;
    flex-direction: row;
  }
}
#styles .features li {
  background-color: white;
  margin: 1em;
  padding: 2em;
  border: 3px solid var(--green-400);
  border-radius: 15px;
  text-align: center;
}
@media (min-width: 640px) {
  #styles .features li {
    margin: 1em 5em;
  }
}
@media (min-width: 1024px) {
  #styles .features li {
    margin: 1em 8em;
  }
}
#styles .features li::before {
  content: url("warning.svg");
  display: block;
  background-color: var(--green-400);
  height: 40px;
  padding: 0.3em 0.6em;
  margin: -2em;
  border-radius: 10px 10px 0 0;
}
@media (min-width: 640px) {
  #styles .features li {
    width: 1000%;
    margin: 0;
  }
}
#styles .features li > span {
  display: grid;
  margin-top: 3.5em;
  line-height: 1.1;
  background-color: var(--brown-100);
  padding: 1em 0.5em;
  border-radius: 5px;
}
#styles .features li > span a {
  color: var(--green-400);
  font-size: 1.5em;
  font-weight: 400;
  margin-bottom: 0.2em;
}
#styles .link-allstyles {
  display: block;
  width: 12em;
  margin: 0 auto;
  text-align: center;
  padding: 0.4rem 0.6em;
  margin-bottom: 1em;
  background-color: white;
  color: var(--brown-400);
  border: 3px solid var(--brown-400);
  border-radius: 10px;
  font-size: 1.25rem;
  text-decoration: none;
}

.profile {
  background-color: white;
  margin: 1em;
  padding: 2em;
  border: 3px solid var(--green-400);
  border-radius: 15px;
}
@media (min-width: 640px) {
  .profile {
    margin: 1em 5em;
  }
}
@media (min-width: 1024px) {
  .profile {
    margin: 1em 8em;
  }
}
.profile::before {
  content: url("warning.svg");
  display: block;
  background-color: var(--green-400);
  height: 40px;
  padding: 0.3em 0.6em;
  margin: -2em;
  border-radius: 10px 10px 0 0;
}
.profile h4 {
  font-size: 1.5em;
  margin-top: 2em;
}
.profile .container {
  text-align: center;
}
.profile .container > a {
  display: inline-block;
  background-color: var(--green-100);
  color: var(--brown-400);
  padding: 0.25em 0.5em;
  border-radius: 5px;
  margin-top: 1em;
}
.profile ul {
  text-align: center;
  margin: 0;
  padding: 0;
  list-style: none;
}
.profile ul li {
  padding: 0.4em;
}
.profile ul li span:nth-child(1) {
  margin-right: 0.25em;
}
.profile ul li span:nth-child(2) a {
  color: inherit;
}

.page-footer {
  position: relative;
  padding: 2.2em 1em;
  margin-top: 2em;
  border-top: 5px dashed var(--green-300);
}
.page-footer::before {
  display: inline-grid;
  min-height: var(--logomark-height);
  padding: var(--logomark-padding);
  border: 0.16em solid var(--color-primary);
  box-shadow: 0.12em 0.12em var(--color-secondary);
  place-content: center;
  position: absolute;
  left: 50%;
  width: 1.5em;
  transform: translate(-50%, -100%);
  background-color: var(--brown-100);
  border-radius: 20px;
  font-size: 3rem;
  content: "S";
}
.page-footer p:first-child {
  margin-top: 1em;
  text-align: center;
}
.page-footer p a {
  color: inherit;
}
.page-footer svg path {
  fill: var(--green-300);
}
.page-footer ul {
  grid-template-columns: repeat(auto-fit, minmax(12ch, auto));
}
.page-footer ul li {
  text-align: center;
  display: grid;
  align-items: center;
  background-color: var(--green-100);
  color: var(--green-300);
  border: 3px solid var(--green-300);
  border-radius: 10px;
  font-size: 1.25em;
  padding: 0.2em 0.6em;
  text-decoration: none;
}
.page-footer p:nth-child(3), .page-footer p:nth-child(4) {
  border: 3px dashed var(--brown-100);
  padding: 1em;
  margin-top: -2em;
}
.page-footer p:nth-child(3)::before, .page-footer p:nth-child(4)::before {
  content: "";
  display: block;
  position: absolute;
  height: 40vh;
  width: 100%;
  top: 50%;
  left: 0;
  z-index: -1;
  background-color: var(--green-300);
}
.page-footer p:nth-child(3) {
  margin-top: 6em;
  border-bottom: none;
  border-radius: 15px 15px 0 0;
}
.page-footer p:nth-child(4) {
  border-top: none;
  border-radius: 0 0 15px 15px;
}

.skip-link {
  position: absolute;
  top: auto;
  left: -10000px;
  width: 1px;
  height: 1px;
  background-color: var(--color-secondary);
  color: #fff;
  font-size: 1.125rem;
  overflow: hidden;
}
.skip-link:focus {
  position: fixed;
  top: 0;
  left: 0;
  width: auto;
  height: auto;
  padding: 0.5em;
}

.link-github svg {
  width: 1em;
  height: 1em;
  margin-right: 0.25em;
  fill: currentColor;
}
